body{
    background-color: red;
}
/*Navbar....*/
#Navbar{
    flex-direction: column;
}
#Navbar ul{
    margin-left: 20px;
}
/*Home......*/
#home{
    height: 100px;
    padding: 50px 0px;
}
/*Aboutme.....*/
#Aboutme{
    padding: 5px 10px;
}